{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul{attributes -> f:format.raw()}>
		<f:render section="itemsList" arguments="{items: items}" />
	</ul>
</div>

<f:section name="itemsList">
	<f:for each="{items}" as="item">
		<li{ts:render(path: '{item.state}.attributes', context: {item: item}) -> f:format.raw()}>
		<neos:link.node node="{item.node}" />
		<f:if condition="{item.subItems}">
			<ul>
				<f:render section="itemsList" arguments="{items: item.subItems}" />
			</ul>
		</f:if>
		</li>
	</f:for>
</f:section>
